# Code to work with the website

This notebook showcases all processed with the website that Python can do. You need a Firebase Admin key to work with the Firestore database.

## Create array for the website of evaluation books

In [ ]:
import pandas as pd

In [ ]:
evaluation_books = pd.read_csv("../data/external/evaluation.csv")

In [ ]:
textfile = open("../data/interim/evaluation.txt", "w")
for element in evaluation_books.itemID.tolist():
    textfile.write(str(element) + ",")
textfile.close()

## Download Decision data

In [1]:
import pandas as pd
from src.data.firestore import connect_to_firestore, retrieve_documents_from_collection

In [2]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [3]:
decisions_dict = retrieve_documents_from_collection(firestore_client, collection="decisions")

In [4]:
decisions = pd.DataFrame(decisions_dict)

In [5]:
decisions.to_csv("../data/processed/decisions.csv", index = False)

## Upload book information to the website

In [ ]:
import pandas as pd
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [ ]:
books_path = "../data/processed/books.csv"
books_reduced_path = "../data/processed/books_reduced.csv"

In [ ]:
books = pd.read_csv(books_path,index_col = 0)
books_reduced_index = pd.read_csv(books_reduced_path,index_col = 0)

In [ ]:
books.set_index("itemID", inplace = True)

In [ ]:
books_reduced = books.filter(books_reduced_index.book_id.tolist(), axis = 0)

In [ ]:
books_reduced.reset_index(inplace = True)

In [ ]:
books_reduced

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

Since we have a free tier on firebase we need to upload multiple days. In moment we have the first 10.000 online.

In [ ]:
write_documents_to_collection(firestore_client, books_reduced, collection="books")

## Upload a new model to the website

If a team sends us a new model, we can upload it to the website with a simple function. Before we upload the recommendations, we have to create document in the model_scores collection for the new model. This requires to use the firebase backend.

In [10]:
import pandas as pd
from src.data.firestore import connect_to_firestore, write_documents_to_collection

Code for Team DataMinerz

In [11]:
DataMinerz_path = "../data/processed/ensemble_dataminerz.csv"

In [12]:
DataMinerz_recommendations = pd.read_csv(DataMinerz_path,index_col = 0)

In [17]:
DataMinerz_recommendations

,book_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5,team_id,model_id
0,12,33530,47083,72004,16316,72766,dataminerz,ensemble
1,45274,1746,32053,39721,41456,15116,dataminerz,ensemble
2,10104,43813,69803,72922,10143,37075,dataminerz,ensemble
3,41371,8189,15312,60507,20699,25637,dataminerz,ensemble
4,14015,59077,35707,13103,10180,38444,dataminerz,ensemble
...,...,...,...,...,...,...,...,...
995,78384,26409,43318,58015,8775,11695,dataminerz,ensemble
996,68157,55547,6253,41558,3381,21470,dataminerz,ensemble
997,44964,3086,19533,3817,42765,48838,dataminerz,ensemble
998,12971,35540,32816,67562,26291,49248,dataminerz,ensemble
999,41078,43828,51490,11023,22238,22179,dataminerz,ensemble

In [15]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [16]:
write_documents_to_collection(firestore_client, DataMinerz_recommendations, collection="recommendations")

100%|██████████| 1000/1000 [01:08<00:00, 14.63it/s]

Code for Team MannheimMiners

In [ ]:
mannheimminers_path = "../data/processed/MannheimMinersModel3.csv"

In [ ]:
mannheimminers_recommendations = pd.read_csv(mannheimminers_path,index_col = 0)

In [ ]:
mannheimminers_recommendations.reset_index(inplace = True)

In [ ]:
mannheimminers_recommendations.dropna(inplace=True)

In [ ]:
mannheimminers_processed = mannheimminers_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
mannheimminers_processed.replace({"model_id":{"3":"third"}}, inplace = True)

In [ ]:
mannheimminers_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, mannheimminers_processed, collection="recommendations")

Code for Team team404

In [ ]:
team404_path = "../data/processed/team404_2.xlsx"

In [ ]:
team404_recommendations = pd.read_excel(team404_path,index_col = 0)

In [ ]:
team404_recommendations.dropna(inplace=True)

In [ ]:
team404_recommendations.reset_index(inplace = True)

In [ ]:
team404_processed = team404_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
team404_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, team404_processed, collection="recommendations")

Code for Team minefromhome

In [ ]:
minefromhome_path = "../data/processed/Team_05.csv"

In [ ]:
minefromhome_recommendations = pd.read_csv(minefromhome_path,index_col = 0, names = ["book_id",
                                                                                     "model_id",
                                                                                     "team_id",
                                                                                     "recommendation_1",
                                                                                     "recommendation_2",
                                                                                     "recommendation_3",
                                                                                     "recommendation_4",
                                                                                     "recommendation_5"])

In [ ]:
minefromhome_recommendations.dropna(inplace=True)

In [ ]:
minefromhome_recommendations.reset_index(inplace = True)

In [ ]:
minefromhome_processed = minefromhome_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
minefromhome_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, minefromhome_processed, collection="recommendations")

Code for Team flying_chicken_wings

In [ ]:
flying_chicken_wings_path = "../data/processed/Team6_result_2ndModel.xlsx"

In [ ]:
flying_chicken_wings_recommendations = pd.read_excel(flying_chicken_wings_path)

In [ ]:
flying_chicken_wings_recommendations.dropna(inplace=True)

In [ ]:
flying_chicken_wings_processed = flying_chicken_wings_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
flying_chicken_wings_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, flying_chicken_wings_processed, collection="recommendations")

Code for d2g2

In [ ]:
d2g2_path = "../data/processed/d2g2_results_2.xlsx"

In [ ]:
d2g2_recommendations = pd.read_excel(d2g2_path)

In [ ]:
d2g2_recommendations

In [ ]:
d2g2_recommendations.dropna(inplace=True)

In [ ]:
d2g2_processed = d2g2_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
d2g2_processed["team_id"] = "d2g2"

In [ ]:
d2g2_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, d2g2_processed, collection="recommendations")

Code for dataworms

In [2]:
Dataworms_path = "../data/processed/final_result_Dataworms.csv"

In [3]:
Dataworms_recommendations = pd.read_csv(Dataworms_path, 
                                   dtype={'recommendation_1': str, 'recommendation_2': str,
                                          'recommendation_3': str, 'recommendation_4': str, 
                                          'recommendation_5': str})

In [4]:
Dataworms_recommendations

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,12,Hybrid_RS,the_dataworms,38044,15978,18081,37565,27058
1,45274,Hybrid_RS,the_dataworms,1746,63413,7262,6210,62473
2,10104,Hybrid_RS,the_dataworms,10143,41762,71798,20416,40979
3,41371,Hybrid_RS,the_dataworms,70558,64698,64050,72736,58150
4,14015,Hybrid_RS,the_dataworms,13103,47952,19563,66672,21188
...,...,...,...,...,...,...,...,...
995,78384,Hybrid_RS,the_dataworms,56354,72389,22154,40979,71593
996,68157,Hybrid_RS,the_dataworms,21470,19503,66167,55547,58623
997,44964,Hybrid_RS,the_dataworms,75198,25989,68320,70107,23343
998,12971,Hybrid_RS,the_dataworms,32816,15800,49248,56107,21904
999,41078,Hybrid_RS,the_dataworms,23733,11950,36214,22179,43828

In [5]:
Dataworms_recommendations.dropna(inplace=True)

In [6]:
Dataworms_processed = Dataworms_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [7]:
Dataworms_processed

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,12,Hybrid_RS,the_dataworms,38044,15978,18081,37565,27058
1,45274,Hybrid_RS,the_dataworms,1746,63413,7262,6210,62473
2,10104,Hybrid_RS,the_dataworms,10143,41762,71798,20416,40979
3,41371,Hybrid_RS,the_dataworms,70558,64698,64050,72736,58150
4,14015,Hybrid_RS,the_dataworms,13103,47952,19563,66672,21188
...,...,...,...,...,...,...,...,...
995,78384,Hybrid_RS,the_dataworms,56354,72389,22154,40979,71593
996,68157,Hybrid_RS,the_dataworms,21470,19503,66167,55547,58623
997,44964,Hybrid_RS,the_dataworms,75198,25989,68320,70107,23343
998,12971,Hybrid_RS,the_dataworms,32816,15800,49248,56107,21904
999,41078,Hybrid_RS,the_dataworms,23733,11950,36214,22179,43828

In [8]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [9]:
write_documents_to_collection(firestore_client, Dataworms_processed, collection="recommendations")

100%|██████████| 998/998 [03:25<00:00,  4.85it/s]

## Update book information to the website

In [18]:
import pandas as pd
import pickle
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [19]:
books_path = "../data/processed/books.csv"
books_reduced_path = "../data/processed/books_reduced.pkl"

In [20]:
books = pd.read_csv(books_path,index_col = 0)
books_reduced_index = pd.read_pickle(books_reduced_path)

In [21]:
books_added_index = set(pd.melt(DataMinerz_recommendations, value_vars=['recommendation_1',
                                       'recommendation_2',
                                       'recommendation_3',
                                       'recommendation_4',
                                       'recommendation_5']).value.tolist())

In [22]:
len(books_reduced_index)

26391

In [23]:
len(books_added_index)

4306

In [24]:
books_reduced_added_index = {index for index in books_added_index if index not in books_reduced_index}

In [25]:
len(books_reduced_added_index)

43

In [26]:
books.set_index("itemID", inplace = True)

In [27]:
books_reduced_added = books.filter(books_reduced_added_index, axis = 0)

In [28]:
books_reduced_added.reset_index(inplace = True)

In [29]:
books_reduced_added

,itemID,title,author,publisher,category_names,cover_url
0,55695,Ghosthunter U.S.,Pit Vogt,Books on Demand,Fantasy,https://assets.thalia.media/img/artikel/5d3745...
1,7440,Adel vernichtet - Kalkuliertes Chaos,"Jochen Hahn, Karsten Kaeb",Ulisses Spiele,Science fiction: military,https://assets.thalia.media/img/artikel/9b899a...
2,24340,LEGO® NINJAGO® - 1001 Sticker,NaN,AMEET Verlag,Children’s interactive and activity books and ...,https://assets.thalia.media/img/artikel/3a53d4...
3,4373,Doktor Maxwells skurriles Zeitexperiment,Jodi Taylor,Blanvalet Taschenbuchverl,Science fiction: time travel,https://assets.thalia.media/img/artikel/82b0c6...
4,50330,Midnight Chronicles - Blutmagie,"Bianca Iosivoni, Laura Kneidl",LYX,Fantasy romance,https://assets.thalia.media/img/artikel/edd401...
5,1050,Abgrund,Michael Kern,Books on Demand,Adventure fiction,https://assets.thalia.media/img/artikel/88028d...
6,13210,Der Weg des Assassinen,Ingo Mayer,Books on Demand,Historical fantasy,https://assets.thalia.media/img/artikel/d8e176...
7,9117,STARGATE ATLANTIS Death Game,Jo Graham,Fandemonium Books,Adventure fiction,https://assets.thalia.media/img/artikel/6db08b...
8,798,Samurai 06. Der Ring des Feuers,Chris Bradford,Ravensburger Verlag,Children’s / Teenage fiction: Action and adven...,https://assets.thalia.media/img/artikel/c6740d...
9,5409,"Samurai, Band 7: Der Ring des Windes",Chris Bradford,Ravensburger Verlag,Children’s / Teenage fiction: Action and adven...,https://assets.thalia.media/img/artikel/de12e1...
10,45858,Perry Rhodan - Das größte Abenteuer,Andreas Eschbach,FISCHER TOR,Science fiction: near-future,https://assets.thalia.media/img/artikel/58b846...
11,40738,Goldröschen,Jenny Völker,Books on Demand,Magical realism,https://assets.thalia.media/img/artikel/55b8d6...
12,24100,Der kleine Nick auf dem Pausenhof,"René Goscinny, Jean-Jacques Sempé",Diogenes Verlag AG,Children’s / Teenage fiction and true stories,https://assets.thalia.media/img/artikel/7dac67...
13,7973,Necromunda - Blaues Blut,"Gordon Rennie, Will McDermott",Black Library,Science fiction: cyberpunk / biopunk,https://assets.thalia.media/img/artikel/ff6569...
14,3879,PRIMORDIA 2 - Die Rückkehr zur vergessenen Welt,Greig Beck,LUZIFER-Verlag,Contemporary fantasy,https://assets.thalia.media/img/artikel/f6cb2d...
15,40363,The Plague,Teddy Keller,E-Kitap Projesi & Cheapest Books,Erotic fiction,https://assets.thalia.media/img/artikel/e3cc2d...
16,35116,Mein Immer-wieder-Stickerbuch: Tiere im Zoo,Holly Bathie,Usborne Verlag,Children’s interactive and activity books and ...,https://assets.thalia.media/img/artikel/e976dc...
17,16686,Kriegerin und Königin,Nele Pommerening,Sweek,Fantasy,https://assets.thalia.media/img/artikel/860274...
18,11824,Die Chroniken von Araluen - Wie alles begann. ...,John Flanagan,cbj,Children’s / Teenage fiction: Action and adven...,https://assets.thalia.media/img/artikel/ad3726...
19,33075,Frostnacht,Jennifer Estep,Piper Verlag GmbH,Urban fantasy,https://assets.thalia.media/img/artikel/7d7f8f...
20,45875,CARLOS - Meine allerliebsten Lieblingsfreunde,NaN,Buchfink Verlag,Children’s gift books,https://assets.thalia.media/img/artikel/7a5def...
21,63416,Der Weg des Assassinen,Ingo Mayer,Books on Demand,Historical fantasy,https://assets.thalia.media/img/artikel/d8e176...
22,3259,Schnippel-Alarm! Das Ausschneidebuch für Kinde...,Silke Weßner,Thekla Verlag,Origami and paper engineering,https://assets.thalia.media/img/artikel/c0df6c...
23,57787,König Artus,Auguste Lechner,Arena Verlag GmbH,Children’s / Teenage fiction: Traditional stories,https://assets.thalia.media/img/artikel/2b6b6c...
24,33856,Learning to Color with Rhymes,Burdys D. Page,Sunstone Press,Early years: colours,https://assets.thalia.media/img/artikel/f73359...
25,67653,Die Saat des weißen Drachen,Uwe Eckardt,Bookmundo Direct,Fantasy,https://assets.thalia.media/img/artikel/6605bc...
26,8903,TODESKOMMANDO,Alfred Wallon,epubli,Historical fiction,https://assets.thalia.media/img/artikel/793c5b...
27,14547,Gregs Tagebuch 05 - Geht's noch?,Jeff Kinney,Baumhaus Verlag GmbH,Children’s / Teenage fiction: Humorous stories,https://assets.thalia.media/img/artikel/f7d948...
28,18772,Age of Trinity - Der Ruf der Nacht,Nalini Singh,LYX,Fantasy romance,https://assets.thalia.media/img/artikel/bcf6ac...
29,61013,The Wicked Big Toddlah,Kevin Hawkes,DRAGONFLY BOOKS,Children’s / Teenage personal and social topic...,https://assets.thalia.media/img/artikel/4fb292...
30,18006,The Invisible Life of Addie Larue,V. E. Schwab,TOR BOOKS,Historical fantasy,https://assets.thalia.media/img/artikel/85bfb8...
31,31955,Die Nibelungen,"Auguste Lechner, Friedrich Stephan",Arena Verlag GmbH,Children’s / Teenage fiction: Traditional stories,https://assets.thalia.media/img/artikel/619684...
32,41819,Drachenzähmen leicht gemacht (1),Cressida Cowell,Arena Verlag GmbH,Children’s / Teenage fiction: Action and adven...,https://assets.thalia.media/img/artikel/33382e...
33,12387,Stephen Hawking,María Isabel Sánchez Vegara,Insel Verlag GmbH,Picture storybooks,https://assets.thalia.media/img/artikel/39e820...
34,78182,The Ministry for the Future,Kim Stanley Robinson,"Little, Brown Book Group",Science fiction,https://assets.thalia.media/img/artikel/2a6e18...
35,871,Mary Poppins - The Complete Collection,Pamela L. Travers,Harper Collins Publ. UK,Children’s / Teenage fiction: Classic fiction,https://assets.thalia.media/img/artikel/b51231...
36,12909,Krokodil im Nacken,Klaus Kordon,"Beltz GmbH, Julius",Educational: Modern (non-native or second) lan...,https://assets.thalia.media/img/artikel/197695...
37,19054,Der kleine Nick,"René Goscinny, Jean-Jacques Sempé",Diogenes Verlag AG,Children’s / Teenage fiction and true stories,https://assets.thalia.media/img/artikel/64862a...
38,20593,Mein Anziehpuppen-Stickerbuch - Im Ballett,Leonie Pratt,Usborne Verlag,Children’s interactive and activity books and ...,https://assets.thalia.media/img/artikel/d2f14e...
39,23412,Hazards of Time Travel,Joyce Carol Oates,ECCO PR,Dystopian and utopian fiction,https://assets.thalia.media/img/artikel/e54416...
40,68471,"Junie B., First Grader Cheater Pants",Barbara Park,PERFECTION LEARNING CORP,Children’s / Teenage fiction: Humorous stories,https://assets.thalia.media/img/artikel/c213ca...
41,8189,Aves-Vademecum,Daniel Simon Richter,Ulisses Spiel & Medien,Fantasy,https://assets.thalia.media/img/artikel/3ac033...
42,56703,Army Boys in the French Trenches (WWI Centenar...,Homer Randall,Last Post Press,Children’s / Teenage fiction: Historical fiction,https://assets.thalia.media/img/artikel/ad30ec...

In [30]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [31]:
write_documents_to_collection(firestore_client, books_reduced_added, collection="books")

100%|██████████| 43/43 [00:03<00:00, 13.59it/s]

In [32]:
len(books_reduced_index.union(books_reduced_added_index))

26434

In [33]:
with open('../data/processed/books_reduced.pkl', 'wb') as file:
    pickle.dump(books_reduced_index.union(books_reduced_added_index), file)

## Delete error data

In [ ]:
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
batch = firestore_client.batch()

doc_ref = firestore_client.collection('model_scores').where('score', '!=', False).get()

for doc in doc_ref:
       batch.delete(doc.reference)

batch.commit()

In [ ]:
float('nan')