# Code to work with the website

This notebook showcases all processed with the website that Python can do. You need a Firebase Admin key to work with the Firestore database.

## Create array for the website of evaluation books

In [ ]:
import pandas as pd

In [ ]:
evaluation_books = pd.read_csv("../data/external/evaluation.csv")

In [ ]:
textfile = open("../data/interim/evaluation.txt", "w")
for element in evaluation_books.itemID.tolist():
    textfile.write(str(element) + ",")
textfile.close()

## Upload book information to the website

In [ ]:
import pandas as pd
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [ ]:
books_path = "../data/processed/books.csv"
books_reduced_path = "../data/processed/books_reduced.csv"

In [ ]:
books = pd.read_csv(books_path,index_col = 0)
books_reduced_index = pd.read_csv(books_reduced_path,index_col = 0)

In [ ]:
books.set_index("itemID", inplace = True)

In [ ]:
books_reduced = books.filter(books_reduced_index.book_id.tolist(), axis = 0)

In [ ]:
books_reduced.reset_index(inplace = True)

In [ ]:
books_reduced

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

Since we have a free tier on firebase we need to upload multiple days. In moment we have the first 10.000 online.

In [ ]:
write_documents_to_collection(firestore_client, books_reduced, collection="books")

## Upload a new model to the website

If a team sends us a new model, we can upload it to the website with a simple function. Before we upload the recommendations, we have to create document in the model_scores collection for the new model. This requires to use the firebase backend.

In [1]:
import pandas as pd
from src.data.firestore import connect_to_firestore, write_documents_to_collection

Code for Team DataMinerz

In [87]:
DataMinerz_path = "../data/processed/recommendations.csv"

In [88]:
DataMinerz_recommendations = pd.read_csv(DataMinerz_path,index_col = 0)

In [89]:
DataMinerz_recommendations

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,25488,first,dataminerz,39340,1374,61627,7411,16540
1,58262,first,dataminerz,25663,29485,41582,782,54697
2,38083,first,dataminerz,18394,51322,1660,32252,29396
3,3059,first,dataminerz,10980,39582,18812,66050,55781
4,49587,first,dataminerz,26405,67680,38557,77828,49833
...,...,...,...,...,...,...,...,...
995,663,first,dataminerz,48017,69456,24713,61064,52869
996,32451,first,dataminerz,41477,31809,30287,75464,37217
997,21607,first,dataminerz,30906,57142,56320,38946,38557
998,46904,first,dataminerz,6848,70118,28502,40355,9607
999,58236,first,dataminerz,17252,18908,20749,15554,36552

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, DataMinerz_recommendations, collection="recommendations")

Code for Team MannheimMiners

In [90]:
mannheimminers_path = "../data/processed/MannheimMiners.csv"

In [91]:
mannheimminers_recommendations = pd.read_csv(mannheimminers_path,index_col = 0)

In [92]:
mannheimminers_recommendations.dropna(inplace=True)

In [93]:
mannheimminers_processed = mannheimminers_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [94]:
mannheimminers_processed

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,12,1,mannheimminers,56148,33530,10698,72004,70402
1,45274,1,mannheimminers,7262,15116,6210,65147,32030
2,10104,1,mannheimminers,10143,58103,10317,72922,50866
3,41371,1,mannheimminers,5376,46995,28401,18617,46077
4,14015,1,mannheimminers,20173,59077,13103,40294,54587
...,...,...,...,...,...,...,...,...
994,23570,2,mannheimminers,31154,66650,2279,29372,63731
995,78384,2,mannheimminers,56354,11695,42539,12464,7399
996,68157,2,mannheimminers,3381,9686,54205,66167,41398
998,12971,2,mannheimminers,56107,26291,49248,35540,15800
999,41078,2,mannheimminers,23733,27389,74400,19142,8122

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, mannheimminers_processed, collection="recommendations")

Code for Team team404

In [54]:
team404_path = "../data/processed/Team_02.xlsx"

In [55]:
team404_recommendations = pd.read_excel(team404_path,index_col = 0)

In [56]:
team404_recommendations.dropna(inplace=True)

In [57]:
team404_recommendations.reset_index(inplace = True)

In [58]:
team404_processed = team404_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [59]:
team404_processed

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,12,team404_base_model,team404,54183,19533,67861,36970,36843
1,45274,team404_base_model,team404,55452,39721,67565,45523,41456
2,10104,team404_base_model,team404,18004,52353,34043,41090,54583
3,41371,team404_base_model,team404,35589,70898,20699,12994,15312
4,14015,team404_base_model,team404,28223,75980,34018,48212,10180
...,...,...,...,...,...,...,...,...
995,78384,team404_base_model,team404,32261,43318,51767,45779,26409
996,68157,team404_base_model,team404,46377,30041,41398,14739,66320
997,44964,team404_base_model,team404,54183,19533,67861,36970,36843
998,12971,team404_base_model,team404,57083,32816,20892,14776,38931
999,41078,team404_base_model,team404,36404,35021,53106,47223,11892

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, team404_processed, collection="recommendations")

Code for Team minefromhome

In [60]:
minefromhome_path = "../data/processed/Team_05.csv"

In [61]:
minefromhome_recommendations = pd.read_csv(minefromhome_path,index_col = 0, names = ["book_id",
                                                                                     "model_id",
                                                                                     "team_id",
                                                                                     "recommendation_1",
                                                                                     "recommendation_2",
                                                                                     "recommendation_3",
                                                                                     "recommendation_4",
                                                                                     "recommendation_5"])

In [62]:
minefromhome_recommendations

,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
book_id,,,,,,,
12,teamfivemodel,minefromhome,16686,36080,41198,52305,67653
259,teamfivemodel,minefromhome,16686,35918,41198,52305,67653
337,teamfivemodel,minefromhome,30463,35863,53377,54627,78235
457,teamfivemodel,minefromhome,13210,18006,28274,63416,71597
468,teamfivemodel,minefromhome,5699,63552,1117,40898,46305
...,...,...,...,...,...,...,...
78486,teamfivemodel,minefromhome,59500,15717,16686,41198,61744
78675,teamfivemodel,minefromhome,261,10713,22205,33512,46591
78680,teamfivemodel,minefromhome,32483,44013,58632,62005,74282
78998,teamfivemodel,minefromhome,18996,30283,46065,19321,40412
79016,teamfivemodel,minefromhome,6624,22802,48308,53240,64452

In [ ]:
minefromhome_recommendations.dropna(inplace=True)

In [ ]:
minefromhome_recommendations.reset_index(inplace = True)

In [ ]:
minefromhome_processed = minefromhome_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [ ]:
minefromhome_processed

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [ ]:
write_documents_to_collection(firestore_client, minefromhome_processed, collection="recommendations")

Code for Team flying_chicken_wings

In [63]:
flying_chicken_wings_path = "../data/processed/Team_06.xlsx"

In [64]:
flying_chicken_wings_recommendations = pd.read_excel(flying_chicken_wings_path)

In [65]:
flying_chicken_wings_recommendations.dropna(inplace=True)

In [66]:
flying_chicken_wings_processed = flying_chicken_wings_recommendations.astype({"book_id": int, "model_id": str,
                                                                        "team_id": str, "recommendation_1":int,
                                                                        "recommendation_2":int,
                                                                        "recommendation_3":int, 
                                                                        "recommendation_4":int,
                                                                        "recommendation_5":int})

In [67]:
flying_chicken_wings_processed

,book_id,model_id,team_id,recommendation_1,recommendation_2,recommendation_3,recommendation_4,recommendation_5
0,12,Hybrid_MeanAllClassifiers,flying_chicken_wings,40548,63811,36917,45430,23304
1,259,Hybrid_MeanAllClassifiers,flying_chicken_wings,10904,12649,1122,37632,27220
2,337,Hybrid_MeanAllClassifiers,flying_chicken_wings,62933,4138,55268,33728,3753
3,457,Hybrid_MeanAllClassifiers,flying_chicken_wings,13925,66614,40516,25814,65193
4,468,Hybrid_MeanAllClassifiers,flying_chicken_wings,468,77243,21025,1117,49379
...,...,...,...,...,...,...,...,...
995,78486,Hybrid_MeanAllClassifiers,flying_chicken_wings,43451,38653,37608,39865,60840
996,78675,Hybrid_MeanAllClassifiers,flying_chicken_wings,78675,33512,68066,63111,66227
997,78680,Hybrid_MeanAllClassifiers,flying_chicken_wings,3480,2820,27275,59097,66833
998,78998,Hybrid_MeanAllClassifiers,flying_chicken_wings,30283,46065,25976,3652,26589
999,79016,Hybrid_MeanAllClassifiers,flying_chicken_wings,64646,76213,47986,50627,10921

In [ ]:
"team404_base_model", "teamfivemodel", "Hybrid_MeanAllClassifiers"]

In [17]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

In [18]:
write_documents_to_collection(firestore_client, flying_chicken_wings_processed, collection="recommendations")

## Update book information to the website

In [19]:
import pandas as pd
import pickle
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [20]:
books_path = "../data/processed/books.csv"
books_reduced_path = "../data/processed/books_reduced.pkl"

In [21]:
books = pd.read_csv(books_path,index_col = 0)
books_reduced_index = pd.read_pickle(books_reduced_path)

In [22]:
books_added_index = set(pd.melt(flying_chicken_wings_processed, value_vars=['recommendation_1',
                                       'recommendation_2',
                                       'recommendation_3',
                                       'recommendation_4',
                                       'recommendation_5']).value.tolist())

In [24]:
len(books_reduced_index)

10650

In [23]:
len(books_added_index)

3764

In [25]:
books_reduced_added_index = {index for index in books_added_index if index not in books_reduced_index}

In [26]:
len(books_reduced_added_index)

2199

In [27]:
books.set_index("itemID", inplace = True)

In [28]:
books_reduced_added = books.filter(books_reduced_added_index, axis = 0)

In [29]:
books_reduced_added.reset_index(inplace = True)

In [30]:
books_reduced_added

,itemID,title,author,publisher,category_names,cover_url
0,49153,Lies Like Poison,Chelsea Pitcher,Simon & Schuster Ltd,Childrenâ€™s / Teenage fiction: Thrillers,https://assets.thalia.media/img/artikel/75d9ef...
1,8202,Mein dicker Kindergarten-Malblock Tiere,NaN,Carlsen Verlag GmbH,"Early years: size, shapes and patterns",https://assets.thalia.media/img/artikel/a07b54...
2,10,The Adventures of Huckleberry Finn,Mark Twain,Penguin Random House Children's UK,Childrenâ€™s / Teenage fiction: Classic fiction,https://assets.thalia.media/img/artikel/b93929...
3,49164,Star Trek,David Mack,Star Trek,Science fiction,https://assets.thalia.media/img/artikel/1b3ef2...
4,13,Bloom,Nicola Skinner,HarperCollins Publishers,Childrenâ€™s / Teenage fiction: Fantasy,https://assets.thalia.media/img/artikel/ef41d5...
...,...,...,...,...,...,...
2194,40943,777 tolle Kinderwitze,Erhard Dietl,Ravensburger Verlag,Childrenâ€™s / Teenage general interest: Humour ...,https://assets.thalia.media/img/artikel/f3321e...
2195,73717,The Book Thief,Markus Zusak,Random House LCC US,The Holocaust,https://assets.thalia.media/img/artikel/7f97a4...
2196,16374,8 Sinne - Band 3 der GefÃ¼hle,Rose Snow,Books on Demand,Fantasy romance,https://assets.thalia.media/img/artikel/d2a98e...
2197,65529,Nayra und Jo,Anke Weber,Oetinger Taschenbuch GmbH,"Pageants, parades, festivals",https://assets.thalia.media/img/artikel/17d577...
2198,73727,Spielend leicht verstehen: Die Uhrzeit,Lara Bryan,Usborne Verlag,Early years: time and seasons,https://assets.thalia.media/img/artikel/5b6d20...

In [ ]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

Since we have a free tier on firebase we need to upload multiple days. In moment we have the first 10.000 online.

In [31]:
write_documents_to_collection(firestore_client, books_reduced_added, collection="books")

In [32]:
len(books_reduced_index.union(books_reduced_added_index))

12849

In [33]:
with open('../data/processed/books_reduced.pkl', 'wb') as file:
    pickle.dump(books_reduced_index.union(books_reduced_added_index), file)

## Delete error data

In [68]:
from src.data.firestore import connect_to_firestore, write_documents_to_collection

In [69]:
firestore_client = connect_to_firestore(credentials="../secrets/dmc-book-recommendation-firebase-adminsdk-yebqi-d805561028.json",
                         database_url="https://book-recommendation-website.firebaseio.com/")

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [86]:
batch = firestore_client.batch()

doc_ref = firestore_client.collection('model_scores').where('score', '!=', False).get()

for doc in doc_ref:
       batch.delete(doc.reference)

batch.commit()

[,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ,
 ]

In [74]:
float('nan')

nan