# Demo of Transaction Baseline

In [1]:
import pandas as pd
import sys
from baseline_transaction import recommend_based_on_transactions


df_transactions = pd.read_csv(r'../../tempData/sourceData/transactions.csv', sep = '|')
df_items = pd.read_csv(r'../../tempData/sourceData/items.csv', sep = '|')
df_transactions.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/I534344/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

   sessionID  itemID  click  basket  order
0          0   21310      1       0      0
1          1   73018      1       0      0
2          2   19194      1       0      0
3          3   40250      1       0      0
4          4   46107      1       0      0

## Example of Recommendations

In [2]:
# Choose Item ID
given_item_id = 73018

recommend_based_on_transactions(df_transactions, df_items, given_item_id, sort_by="sum", 
                                max_number_recommendation=5, verbose=1)

Find recommendations based on:
Einfach zeichnen! Step by Step by Wiebke Krabbe.


We recommend:
1. Ich kann 1000 Dinge zeichnen. Kritzeln wie ein Profi! by Norbert Pautner.
2. Die Kunst des Zeichnens für Kinder by Gecko Keck.
3. Und plötzlich war Frau Honig da by Sabine Bohlmann.
4. Die Kunst des Zeichnens für Kinder Übungsbuch by Gecko Keck.
5. All die schönen Tiere zeichnen. Ganz einfach in vier Schritten. Eine Zeichenschule für Kinder ab 5 J by Barroux.

[63730, 69185, 18805, 17783, 61619]

In [ ]:
# Choose Item ID
given_item_id = 54876

recommend_based_on_transactions(df_transactions, df_items, given_item_id, sort_by="sum", 
                                max_number_recommendation=5, verbose=1)

Find recommendations based on:
Unsere Erde by Angela Weinhold.


We recommend:
1. Wir entdecken den Weltraum by Andrea Erne, Peter Nieländer.
2. Experimentieren und Entdecken by Angela Weinhold.
3. Die Uhr und die Zeit by Angela Weinhold.
4. Kindergartenfreunde by Pia Loewe.
5. Feuerwehrmann Sam: Kindergartenfreundebuch by nan.

In [ ]:
# Choose Item ID
given_item_id = 15581

recommend_based_on_transactions(df_transactions, df_items, given_item_id, sort_by="sum", 
                                max_number_recommendation=5, verbose=1)

## Example of not enough data

In [ ]:
# Choose Item ID
given_item_id = 21310

recommend_based_on_transactions(df_transactions, df_items, given_item_id, sort_by="sum", 
                                max_number_recommendation=5, verbose=1)

In [ ]:
recommend_based_on_transactions(df_transactions, df_items, given_item_id, sort_by="sum", 
                                max_number_recommendation=5, verbose=1)